{% extends 'base.html' %}

{% block title %}All Listings{% endblock %}

{% block content %}
<div class="container mx-auto p-6">
    <h1 class="text-3xl font-bold mb-6">Available Items</h1>

    <div class="w-fit mx-auto grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 justify-items-center justify-center gap-y-20 gap-x-14 mt-10 mb-5">
        {% for listing in listings %}
        <div class="w-72 bg-white shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl">
            <a href="{% url 'listing_detail' listing.id %}">
                <!-- Listing Image -->
                <img src="{{ listing.primary_image }}" alt="{{ listing.title }}" class="h-80 w-72 object-cover rounded-t-xl">
                <div class="px-4 py-3 w-72">
                    <!-- Listing Title -->
                    <p class="text-lg font-bold text-black truncate block capitalize">{{ listing.title }}</p>
                    <p class="text-sm text-gray-600">{{ listing.description|truncatewords:20 }}</p>
                    <div class="flex items-center">
                        <!-- Listing Price -->
                        <p class="text-lg font-semibold text-black cursor-auto my-3">₹{{ listing.price }}</p>
                    </div>
                </div>
            </a>
        </div>
        {% empty %}
        <p>No listings available at the moment.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
